      <div class="container-fluid">

        <!-- Breadcrumbs-->
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="./../">Bảng điều khiển</a>
          </li>
          <li class="breadcrumb-item active">Trang trống</li>
        </ol>

        <!-- Page Content -->
        <h1>Trang trống</h1>
        <hr>
        <p>Đây là một điểm khởi đầu tuyệt vời cho các trang tùy chỉnh mới.</p>

      </div>
      <!-- /.container-fluid -->

