<ul class="sidebar navbar-nav">
    <li class="nav-item active">
      <a class="nav-link" href="./../">
        <i class="fas fa-fw fa-tachometer-alt"></i>
        <span>Bảng điều khiển</span>
      </a>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="pagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="fas fa-fw fa-folder"></i>
        <span>Trang</span>
      </a>
      <div class="dropdown-menu" aria-labelledby="pagesDropdown">
        <h6 class="dropdown-header">Login Screens:</h6>
        <a class="dropdown-item" href="./../manager/login">Đăng nhập</a>
        <a class="dropdown-item" href="./../manager/register">Đăng ký</a>
        
        <div class="dropdown-divider"></div>
        <h6 class="dropdown-header">Trang khác</h6>
        <a class="dropdown-item" href="./../manager/blank">Trang trống</a>
      </div>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="./../manager/charts">
        <i class="fas fa-fw fa-chart-area"></i>
        <span>Biểu đồ</span></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="./../manager/tables">
        <i class="fas fa-fw fa-table"></i>
        <span>Bảng</span></a>
    </li>
  </ul>
